body {
    padding-top: 65px;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #060606;
}
.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #222;
    padding-top: 10px;
}

.item {
  width:  190px;
  height: 190px;
  float: left;
  overflow: hidden;
  margin: 0;
}

.item.w2 { width:  380px; }
.item.w3 { width:  285px; }
.item.w4 { width:  570px; }

.item.h2 { height: 380px; }
.item.h3 { height: 285px; }
.item.h4 { height: 570px; }






